* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

.main-container {
    min-height: 100vh;
    background-color: #F9FAF8;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 50px 20px 50px;
    background-color: #490513;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.title-header {
    color: #F9FAF8;
}

/* Landing Page */
.landing-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    padding: 50px;
    background-color: #38040E;
    min-height: 87vh;
    flex-wrap: wrap;
}

.landing-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    flex-shrink: 1;  
    min-width: 300px;
    flex: 1 1 300px;
}

.title-landing {
    font-size: 48px;
    align-items: center;
    color: #F9FAF8;
}

.desc-landing {
    align-items: center;
    color: #E6E7EB;
    font-size: 18px;
}

.reg-btn {
    display: flex;
    justify-self: center;
    align-items: center;
}

.reg-btn a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: white;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.img-landing {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.landing-image {
    flex: 1 1 300px;
    max-width: 1500px;
    min-width: 300px;
}

/* Members page */

.members-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #2e0505;
    padding: 100px 40px;
    min-height: 100vh;
}

.title-members {
    font-size: 70px;
    font-style: italic;
}

.members-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.member-image {
    max-width: 350px;
    border-radius: 30px
}

.member-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    text-align: center;
}

.member-name {
    font-size: 30px;
}

.member-role {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.member-desc {
    font-size: 20px;
}

.codename {
    font-style: italic;
    font-weight: bold;
}

/* Quote Page */

.quote-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #220202;
    padding: 100px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 300px;
    gap: 20px;
}

.quote {
    font-style: italic;
}

.saidby {
    display: flex;
    flex-direction: row-reverse;
}

/* Sign-up page */

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
    background-color: #1d0000;
    padding: 50px;
}

.signup-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    background-color: #1f0006;
    padding: 50px;
    min-width: 100px;
    border-radius: 20px;
    box-shadow: 15px 0px 10px rgba(0,0,0,0.5), -15px 0px 10px rgba(0,0,0,0.5), 0px 15px 10px rgba(0,0,0,0.5), 0px -15px 10px rgba(0,0,0,0.5); 
}

.signup-desc {
    font-style: italic;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 20px;
    background-color:#160000;
}

.footer-text {
    text-align: center;
}