* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main-container {
    height: 100vh;
    background-color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 100px 20px 100px;
    background-color: #4b2020;
}

.nav-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.title-header {
    color: #F9FAF8;
}

.landing-page {
    display: flex;
    justify-content: ;
    align-items: center;
    gap: 70px;
    padding: 100px;
    background-color: #4b2020;
    height: 80vh;
    flex-wrap: wrap;
}

.landing-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    flex-shrink: 1;  
    min-width: 300px;
    flex: 1 1 300px;
}

.title-landing {
    font-size: 48px;
    align-items: center;
    color: #F9FAF8;
}

.desc-landing {
    align-items: center;
    color: #E6E7EB;
    font-size: 18px;
}

.reg-btn {
    display: flex;
}

.reg-btn a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: white;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
}


.img-landing {
    width: 100%;
    max-width: 100%;
}

.landing-image {
    flex: 1 1 500px;
    max-width: 1500px;
    min-width: 500px;
}
